<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="idv.funnybrain.bike"
    android:versionCode="10"
    android:versionName="1.7.3">

    <uses-sdk android:minSdkVersion="11"/>

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- users OpenGL ES v2 to render the map. -->
    <uses-feature android:glEsVersion="0x00020000"
                  android:required="true"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Sherlock">
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"/>

        <meta-data android:name="com.google.android.maps.v2.API_KEY"
                   android:value="AIzaSyCi6zpfQw7JuUMz-xTLFtT4l8k_BV9IYnM"/>

        <activity android:name=".FunnyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BikeStationMapActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|layoutDirection"
            android:uiOptions="splitActionBarWhenNarrow">

        </activity>
    </application>

</manifest>
    <!-- version Code 1, version Name 0.9, 2014-3-3 -->
    <!-- first relase -->
    <!-- things should be done in the future:
         1. auto update option
         2. desktop widget , jusk like clock
         3. combint Kaohsiung City Public Bike web site info.
         4. add data cache
         5. add Rader to detect n-meter stations
         6. search on list
         7. should have favor site on Map Mode
    -->

    <!-- version Code 2, version Name 1.0, 2014-3-4 -->
    <!-- 1. search function on list all
         2. if no favor site, will show R.string.no_data
         3. refresh button will collapse search view if search view is opening.
    -->
    <!-- version Code 3, version name 1.1, 2014-3-9 -->
    <!-- 1. remove list mode
         2. redraw icon
         3. redesign list on map mode
    -->
    <!-- version Code 4, version name 1.5, 2014-3-17 -->
    <!--
        1. add navigation
    -->
    <!-- version Code 5, version name 1.6, 2014-3-18 -->
    <!--
        1. add Taipei
        2. nename to 'Taiwan Bike'
    -->
    <!-- version Code 6, version name 1.6.1, 2014-3-19 -->
    <!--
        1. UI improved, add close drawer icon
    -->
    <!-- version Code 7, version name 1.7, 2014-4-26 -->
    <!--
        1. UI re-layout
    -->
    <!-- version Code 8, version name 1.7.1, 2014-5-17 -->
    <!--
        1. fix error in Taipei json Data
           it contains unicode e200,
           use String.replaceAll("\\p{C}", "") to fix it
    -->
    <!-- version Code 9, version name 1.7.2, 2014-5-18 -->
    <!--
        1. fix error in Taipei json Data
           it contains unicode e200,
           use String.replaceAll("\\p{C}", "") to fix it
    -->
    <!-- version Code 10, version name 1.7.3 2014-5-29 -->
    <!--
        1. update taipei data source
    -->